#* @vtlvariable name="users" type="java.util.List" *#
#parse('parts/header.vm')
<h2>#springMessage("users.list")</h2>
<p>
    <a href="#springUrl("/")">#springMessage("common.action.home")</a>
</p>
<form id="deleteForm" action="#springUrl("/users/delete")" method="POST">
    #parse('parts/csrfToken.vm')
    <input type="hidden" name="user_ids[]" value="0">
    <table class="data-list">
        <thead>
        <tr>
            <th>
                <input type="checkbox" id="triggerAllCheckboxes">
            </th>
            <th>#springMessage("common.id")</th>
            <th>#springMessage("common.login")</th>
            <th>#springMessage("common.edit")</th>
        </tr>
        </thead>
        <tbody>
            #foreach($user in $users)
            <tr>
                <td class="centered">
                    <input type="checkbox" name="user_ids[]" value="$user.id"/>
                </td>
                <td>$user.id</td>
                <td>$user.login</td>
                <td>
                    <a href="#springUrl("/users/$user.id/edit")">
                        #springMessage("common.start.editing")
                    </a>
                </td>
            </tr>
            #end
        </tbody>
    </table>
    <p/>
    <button type="button" name="delete">#springMessage("users.delete.selected")</button>
</form>
<p>
    <a href="#springUrl("/users/create")">#springMessage("users.create.user")</a>
</p>
<script>
    jQuery(function ($) {
        var confirmationMessage = "#springMessage("users.delete.selected.confirmation")";
        var form = $('#deleteForm');
        var triggerAllCheckbox = form.find('#triggerAllCheckboxes');
        var deleteButton = form.find('button[name=delete]');

        triggerAllCheckbox.click(function(e) {
            var isChecked = triggerAllCheckbox.prop('checked');
            form.find("tbody input[type=checkbox]").prop('checked', isChecked);
        });

        deleteButton.click(function() {
            if(window.confirm(confirmationMessage)) {
                form.submit();
            }
        });
    });
</script>
#parse('parts/footer.vm')
