#parse('parts/header.vm')
<h2>Login</h2>
<form action="" method="POST">
    #parse('parts/csrfToken.vm')
    <div class="form-field">
        <label for="username">Login</label>
        <input type="text" name="username">
    </div>
    <div class="form-field">
        <label for="password">Password</label>
        <input type="text" name="password">
    </div>
    <button type="submit">Submit</button>
</form>
#parse('parts/footer.vm')
