#parse('parts/header.vm')
<h2>#springMessage("common.action.login")</h2>
<form action="" method="POST">
    #parse('parts/csrfToken.vm')
    <div class="form-field">
        <label for="username">#springMessage("common.login")</label>
        <input type="text" name="username">
    </div>
    <div class="form-field">
        <label for="password">#springMessage("common.password")</label>
        <input type="password" name="password">
    </div>
    <button type="submit">#springMessage("common.submit")</button>
</form>
#parse('parts/footer.vm')
